.map-conatiner{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.map-conatiner .map{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.map-conatiner .map span{
    margin-left: 5px;
    margin-right: 5px;
    color: #ff0000;
    font-size: 15px;
    font-weight: bold;
}

.news-container{
    width: 100%;
    height: 1500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.news-container .news-sidbar{
    width: 90%;
    height: 1500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.news-container .news-sidbar::before{
    transition: .5s;
    content: "";
    background: #e30b13;
    width: 10vh;
    height: 10vh;
    position: fixed;
    right: 0;
    top: 45vh;
    z-index: 1;
}

.news-container .news-sidbar::after{
    transition: .5s;
    content: "";
    background: #e30b13;
    width: 7vh;
    height: 7vh;
    position: fixed;
    right: 10vh;
    top: 55vh;
    z-index: 1;
}

.news-container .news{
    width: 69.666%;
    height: 1500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.news-container .news .title{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.news-container .news .title p{
    font-size: 25px;
    color: #ff0000;
}

.news-container .news .box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.news-container .news .box>a{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.news-container .news .box>a .image{
    width: 20%;
    height: 160px;
    position: relative;
}

.news-container .news .box>a .image img{
    width: 100%;
    height: 160px;
}

.news-container .news .box>a .image .date{
    width: 50px;
    height: 50px;
    background: #ff0000;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news-container .news .box>a .image .date{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.news-container .news .box>a .text{
    width: 60%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
}

.news-container .news .box>a .text p:nth-child(1){
    font-size: 17px;
    font-weight: bold;
}

.news-container .news .box>a .icon{
    width: 10%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.news-container .news .box>a .icon i{
    width: 70%;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 30px;
}

.news-container .sidbar{
    width: 375px;
    height: auto;
    position: sticky;
    top: 150px;
    border: 1px solid #d1d1d1;
}

.news-container .sidbar ul{
    padding: 20px;
}

.news-container .sidbar ul li{
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

.news-container .sidbar ul li:after{
    content: '';
}